<%= form_with(model: railway_station, local: true) do |form| %>
  <%= render 'common/errors', resource: @railway_station %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
