<p id="notice"><%= notice %></p>

<p>
  <strong>Number</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Вагоны</strong>
<ul>
  <% @train.carriages.each do |car| %>
    <li><%= link_to "Вагон №#{car.number}", car %></li>
  <% end %>
</ul>
</p>

<p>
  <%= link_to "Добавить вагон", new_train_carriage_path(@train) %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
